<nz-carousel nzAutoPlay>
  <div nz-carousel-content *ngFor="let index of array"><img src="/assets/images/banner.jpg"></div>
</nz-carousel>
<!-- <div style="height: 400px">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div> -->
<div class="main-content">
  <div class="nz-row">
    <div class="focus-grid w3layouts-boder3" *ngFor="let item of rootCategories">
      <a class="btn-8" routerLink="{{item.slug}}">
        <div class="focus-border">
          <div class="focus-layout">
            <div class="focus-image"><i class="{{item.iconClass}}"></i></div>
            <h4 class="clrchg">{{item.name}}</h4>
          </div>
        </div>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!---728x90--->

<!-- most-popular-ads -->
<!-- <div class="w3l-popular-ads">
    <h3>Tin nổi bật</h3>
    <div class="w3l-popular-ads-info">
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad1.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="cars.html">Latest Cars</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="cars.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad2.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="real-estate.html">Apartments for Sale</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="real-estate.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad3.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="jobs.html">BPO jobs</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="jobs.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad4.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="electronics-appliances.html">Accessories</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="electronics-appliances.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad5.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="furnitures.html">Home Appliances</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="furnitures.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" class="w3ls-portfolio-left">
        <div class="portfolio-img event-img">
          <img src="/assets/images/ad6.jpg" class="img-responsive" alt="">
          <div class="over-image"></div>
        </div>
        <div class="portfolio-description">
          <h4><a href="fashion.html">Clothing</a></h4>
          <p>Suspendisse placerat mattis arcu nec por</p>
          <a href="fashion.html">
            <span>Explore</span>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div> -->
<!-- </div> -->