<button nz-button nzType="primary" routerLink="/admin/thuoc-tinh/tao-moi"><i class="fa fa-plus"></i>&nbsp;Thêm</button>

<nz-table #filterTable [nzData]="displayData">
  <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzWidth="50px" nzShowSort nzSortKey="id">ID</th>
      <th nzWidth="100px" nzShowSort nzSortKey="name">Tên</th>
      <th nzWidth="80px" nzShowSort nzSortKey="typeName">Kiểu</th>
      <th nzShowSort nzSortKey="categories">Danh mục</th>
      <th nzShowSort nzSortKey="options">Lựa chọn</th>
      <th nzWidth="70px" nzShowSort nzSortKey="required">Bắt buộc</th>
      <th nzWidth="70px" nzShowSort nzSortKey="searchable">Tìm kiếm</th>
      <th nzWidth="80px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td><a (click)="viewCategory(data)">{{data.id}}</a></td>
      <td><a (click)="viewCategory(data)">{{data.name}}</a></td>
      <td>{{data.typeName}}</td>
      <td>{{data.categories}}</td>
      <td>{{data.options}}</td>
      <td>{{data.required}}</td>
      <td>{{data.searchable}}</td>

      <td>
        <a (click)="edit(data)"><i class="fa fa-pencil"></i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzTitle="Bạn muốn xóa thuộc tính này?" (nzOnConfirm)="delete(data.id)" (nzOnCancel)="cancel()"><i class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>