<!--tslint:disable-->
<div #f="ngForm" [formGroup]="form" [ngSwitch]="control.type" [class.has-danger]="invalid" [class.has-success]="valid"
    [class.form-check]="control.type === 'checkbox'">

    <div class="form-group">

        <label *ngIf="control.type === 'dropdown' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <select *ngIf="control.type === 'dropdown'" class="form-control" [id]="control.key" [formControlName]="control.key"
            [class.is-valid]="valid" [class.is-invalid]="invalid">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
        </select>

        <!--This is not the switch case because of multiple control types-->
        <label *ngIf="control.type === 'text' || control.type === 'email' || control.type === 'password' || control.type === 'number'"
            [attr.for]="control.key">{{control.label}}</label>
        <input class="form-control" *ngIf="control.type === 'text' || control.type === 'email' || control.type === 'password' || control.type === 'number' || control.type === 'hidden'"
            [id]="control.key" [formControlName]="control.key" [type]="control.type" [placeholder]="control.placeholder"
            [class.is-valid]="valid" [class.is-invalid]="invalid" >
        <!--price-->
        <label *ngIf="control.type==='price' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <input class="form-control" *ngIf="control.type==='price'" [type]="text" [placeholder]="control.placeholder"
            [id]="control.key" [formControlName]="control.key" [class.is-valid]="valid" [class.is-invalid]="invalid"
            appcCurrencyMask>
        <!--Textarea-->
        <label *ngIf="control.type === 'textarea' && !control.isHidden" [for]="control.key">{{control.label}}</label>
        <textarea class="form-control" *ngIf="control.type === 'textarea'" [id]="control.key" rows="3"
            [formControlName]="control.key" [class.is-valid]="valid" [class.is-invalid]="invalid"></textarea>

        <!--Checkbox-->
        <label *ngIf="control.type === 'checkbox' && !control.isHidden" [attr.for]="control.key">
            <input [id]="control.key"
            [formControlName]="control.key" type="checkbox" class="custom-control-input">
           {{control.label}}
        </label>

        <!--Checkbox list-->
        <label *ngIf="control.type === 'checkboxlist' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <appc-checkbox-list *ngIf="control.type === 'checkboxlist' && !control.isHidden" [control]="control" [formControlName]="control.key"></appc-checkbox-list>
        
        <!--radio list-->
        <label *ngIf="control.type === 'radiolist' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <appc-radio-list *ngIf="control.type === 'radiolist' && !control.isHidden" [control]="control" [formControlName]="control.key"></appc-radio-list>
        <!--Cascader-->
        <label *ngIf="control.type === 'cascader' && !control.isHidden" [for]="control.key">{{control.label}}</label>
        <nz-select2 *ngIf="control.type === 'cascader'" [(nzOptions)]="control.options" [nzShowSearch]="true" [id]="control.key" (nzSelectionChange)="control.onSelectionChange($event)"
            [formControlName]="control.key" [class.is-valid]="valid" [class.is-invalid]="invalid" [nzLabelProperty]="control.nzLabelProperty"
            [nzValueProperty]="control.nzValueProperty">
        </nz-select2>
        <!--Upload-->
        <label *ngIf="control.type === 'upload' && !control.isHidden" [for]="control.key">{{control.label}}</label>
        <nz-upload *ngIf="control.type === 'upload'" nzAction="/api/fileupload/upload" nzListType="picture-card"
            [(nzFileList)]="control.fileList" [nzSize]="2048" (nzChange)="control.fileListChange($event)" [nzFileType]="image/jpeg"
            [nzShowButton]="fileList?.length < 3" [nzPreview]="handlePreview">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">Upload</div>
        </nz-upload>
        <!--new radio group-->
        <nz-radio-group *ngIf="control.type === 'checkboxlistnew'" [nzButtonStyle]="'solid'" [id]="control.key"
            [formControlName]="control.key" [class.is-valid]="valid" [class.is-invalid]="invalid">
            <label nz-radio-button nzValue="1">Bán</label>
            <label nz-radio-button nzValue="2">Mua</label>
            <label nz-radio-button nzValue="3">Cho Thuê</label>
        </nz-radio-group>

        <!--select box-->
        <label *ngIf="control.type==='select' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <nz-select *ngIf="control.type === 'select'" [id]="control.key" [formControlName]="control.key"
            [class.is-valid]="valid" [nzSize]="size" nzMode="multiple" [nzPlaceHolder]="control.placeholder">
            <nz-option *ngFor="let option of control.options" [nzLabel]="option.value" [nzValue]="option.key"></nz-option>
        </nz-select>

        <!--tag box-->
        <label *ngIf="control.type==='tag' && !control.isHidden" [attr.for]="control.key">{{control.label}}</label>
        <appc-tag-input *ngIf="control.type === 'tag'" [id]="control.key" [formControlName]="control.key"
            [class.is-valid]="valid" [tags]="control.value">
        </appc-tag-input>



        <div class="error" *ngIf="errorMessage(control)"> {{ errorMessage(control) }} </div>

    </div>
</div>