<header>
    <div class="container">
        <div class="topnav">
            <a class="navbar-brand" routerLink="/">
                <img class="image-responsive" src="/assets/images/logo.jpg">
            </a>
            <ul id="myTopnav" style="float:right">
                <li *ngIf="!oAuthService.hasValidAccessToken()">
                    <a routerLink="/dang-nhap"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Đăng
                        nhập</a>
                </li>
                <li *ngIf="!oAuthService.hasValidAccessToken()">
                    <a routerLink="/dang-ky"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Đăng ký</a>
                </li>
                <li *ngIf="oAuthService.hasValidAccessToken()">
                    <div class="dropdown">
                        <a class="dropbtn">{{user.name}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="dropdown-content">
                            <a routerLink="/admin" *ngIf="user.role == 'Admin'"><i class="fa fa-tachometer"></i>&nbsp;Trang
                                quản lý</a>
                            <a routerLink="/tai-khoan"><i class="fa fa-info"></i>&nbsp;&nbsp;Thông tin tài khoản</a>
                            <a (click)="logout()" href="javascript:void(null);"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Đăng
                                xuất</a>
                        </div>
                    </div>
                </li>
                <li class="post-btn">
                    <a routerLink="/dang-tin"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Đăng
                        tin miễn phí</a>
                </li>
                <li class="menu-icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()"><i class="fa fa-menu"></i></a>
                </li>
            </ul>
        </div>
        <div class="search-form" nz-row>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group [nzPrefix]="prefixTemplate" style="padding:5px 0;">
                    <input type="text" class="search-control" nz-input placeholder="Bạn cần tìm gì?" [(ngModel)]="searchText">
                </nz-input-group>
                <ng-template #prefixTemplate><i class="fa fa-search"></i></ng-template>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
                <nz-select2 style="width:100%; padding:5px 0;" [(nzOptions)]="regions" [nzShowSearch]="true" (nzSelectionChange)="onRegionsSelectionChange($event)"
                    [nzLabelProperty]="'name'" [nzValueProperty]="'id'" nzPlaceHolder="Tỉnh, thành phố">
                </nz-select2>
            </div>
            <div nz-col nzXs="24" nzSm="12" nzMd="8">
                <nz-input-group style="width:100%; padding:5px 0;" nzSearch nzSize="large" [nzSuffix]="suffixButton">
                    <nz-select2 style="width:100%" [(nzOptions)]="categories" [nzShowSearch]="true" (nzSelectionChange)="onCategoriesSelectionChange($event)"
                        [nzLabelProperty]="'name'" [nzValueProperty]="'id'" nzPlaceHolder="Danh mục"></nz-select2>
                </nz-input-group>
                <ng-template #suffixButton>
                    <button style="border-radius:0px;" nz-button nzType="primary" nzSize="large" (click)="doSearch()">Tìm kiếm</button>
                </ng-template>
            </div>
        </div>
    </div>
</header>