<!-- <header class="header">
    <nav class="inner">
        <a routerLink="">
            <img class="logo" src="/assets/android-chrome-192x192.png" alt="logo">
        </a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">{{'app_nav_home' | translate}}</a>
        <a routerLinkActive="active" routerLink="signalr">{{'app_nav_signalr' | translate}}</a>
        <a routerLinkActive="active" routerLink="profile" *ngIf="isLoggedIn">{{user?.name}}</a>
        <a (click)="logout()" href="javascript:void(null);" *ngIf="isLoggedIn"> {{'app_nav_logout' | translate}} </a>
        <a routerLinkActive="active" routerLink="register" *ngIf="!isLoggedIn">{{'app_nav_register' | translate}}</a>
        <a routerLinkActive="active" routerLink="login" *ngIf="!isLoggedIn">{{'app_nav_login' | translate}}</a>

        <form *ngFor="let c of cultures" action="/api/setlanguage" method="post" class="culture-form" ngNoForm [class.active]="c.current">
            <input id={{c.value}} name="culture" value={{c.value}} type="submit" />
        </form>

        <a class="github" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener">
            {{'app_title' | translate}}
        </a>
    </nav>
</header> -->
<!-- <nz-header>
</nz-header> -->

<header>
    <div class="w3ls-header">
        <div class="w3ls-header-left">
            <p><a [routerLink]="['/routePath']" routerLinkActive="router-link-active"><i class="fa fa-download"
                        aria-hidden="true"></i>Tải ứng dụng</a>
            </p>
        </div>
        <div class="w3ls-header-right">
            <ul>
                <li class="dropdown head-dpdn" *ngIf="!oAuthService.hasValidAccessToken()">
                    <a routerLink="/dang-nhap"><i class="fa fa-user" aria-hidden="true"></i> Đăng
                        nhập</a>
                </li>
                <li class="dropdown head-dpdn" *ngIf="oAuthService.hasValidAccessToken()">
                    <nz-dropdown>
                        <a nz-dropdown>
                            {{user.name}} <i nz-icon type="down"></i>
                        </a>
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item *ngIf="user.role == 'Admin'">
                                <a routerLink="/admin">Trang quản lý</a>
                            </li>
                            <li nz-menu-item>
                                <a routerLink="/tai-khoan">Thông tin tài khoản</a>
                            </li>
                            <li nz-menu-item>
                                <a (click)="logout()" href="javascript:void(null);">Đăng xuất</a>
                            </li>
                        </ul>
                    </nz-dropdown>
                </li>
                <li class="dropdown head-dpdn" *ngIf="!oAuthService.hasValidAccessToken()">
                    <a routerLink="/dang-ky">Đăng ký</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a routerLink="/tro-giup"><i class="fa fa-question-circle" aria-hidden="true"></i> Trợ giúp</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="javascript:void(null);"><span class="active uls-trigger"><i class="fa fa-language"
                                aria-hidden="true"></i>Ngôn ngữ</span></a>
                </li>
                <li class="dropdown head-dpdn">
                    <div class="header-right">

                    </div>
                </li>
            </ul>
        </div>

        <div class="clearfix"> </div>
    </div>
    <div class="container">
        <div class="agile-its-header">
            <div class="logo">
                <!-- <h2><a routerLink="/">moichao<span>.com</span></a></h2> -->
                <a routerLink="/">
                <span><img src="/assets/images/logo.jpg"/></span>
            </a>
            </div>
            <div class="agileits_search">
                <form action="#" method="post">
                    <input name="Search" type="text" placeholder="How can we help you today?" required="" [(ngModel)]="searchText">
                    <select id="agileinfo_search" name="agileinfo_search" required="" [(ngModel)]="selectedCategory">
                        <option *ngFor="let item of categories" value="{{item.slug}}">{{item.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-default" aria-label="Left Align" (click)="doSearch()">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>
                <a class="post-w3layouts-ad" routerLink="/dang-tin">Đăng tin miễn phí</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>