<!-- <header class="header">
    <nav class="inner">
        <a routerLink="">
            <img class="logo" src="/assets/android-chrome-192x192.png" alt="logo">
        </a>
        <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="">{{'app_nav_home' | translate}}</a>
        <a routerLinkActive="active" routerLink="signalr">{{'app_nav_signalr' | translate}}</a>
        <a routerLinkActive="active" routerLink="profile" *ngIf="isLoggedIn">{{user?.name}}</a>
        <a (click)="logout()" href="javascript:void(null);" *ngIf="isLoggedIn"> {{'app_nav_logout' | translate}} </a>
        <a routerLinkActive="active" routerLink="register" *ngIf="!isLoggedIn">{{'app_nav_register' | translate}}</a>
        <a routerLinkActive="active" routerLink="login" *ngIf="!isLoggedIn">{{'app_nav_login' | translate}}</a>

        <form *ngFor="let c of cultures" action="/api/setlanguage" method="post" class="culture-form" ngNoForm [class.active]="c.current">
            <input id={{c.value}} name="culture" value={{c.value}} type="submit" />
        </form>

        <a class="github" href="{{'app_repo_url' | translate}}" target="_blank" rel="noopener">
            {{'app_title' | translate}}
        </a>
    </nav>
</header> -->
<!-- <nz-header>
</nz-header> -->

<header>
    <div class="w3ls-header">
        <div class="w3ls-header-left">
            <p><a routerLink="/mobileapp.html"><i class="fa fa-bars"></i></a>
            </p>
        </div>
        <div class="w3ls-header-right">
            <ul>
                <li class="dropdown head-dpdn">
                    <a  routerLinkActive="active" routerLink="dang-nhap" *ngIf="!isLoggedIn"><i class="fa fa-user" aria-hidden="true"></i> Sign In</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a routerLink="/help.html"><i class="fa fa-question-circle" aria-hidden="true"></i> Help</a>
                </li>
                <li class="dropdown head-dpdn">
                    <a href="#"><span class="active uls-trigger"><i class="fa fa-language" aria-hidden="true"></i>languages</span></a>
                </li>
                <li class="dropdown head-dpdn">
                    <div class="header-right">			

    </div>
                </li>
            </ul>
        </div>
        
        <div class="clearfix"> </div> 
    </div>
    <div class="container">
        <div class="agile-its-header">
            <div class="logo">
                <h1><a routerLink="/"><span>Rao</span>diaoc</a></h1>
            </div>
            <div class="agileits_search">
                <form action="#" method="post">
                    <input name="Search" type="text" placeholder="How can we help you today?" required=" ">
                    <select id="agileinfo_search" name="agileinfo_search" required="">
                        <option value="">All Categories</option>
                        <option value="Mobiles">Mobiles</option>
                        <option value="Electronics &amp; Appliances">Electronics &amp; Appliances</option>
                        <option value="Cars">Cars</option>
                        <option value="Bikes">Bikes</option>
                        <option value="Furnitures">Furnitures</option>
                        <option value="Books, Sports &amp; Hobbies">Books, Sports &amp; Hobbies</option>
                        <option value="Fashion">Fashion</option>
                        <option value="Kids">Kids</option>
                        <option value="Services">Services</option>
                        <option value="Jobs">Jobs</option>
                        <option value="Real Estates">Real Estates</option>
                    </select>
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <i class="fa fa-search" aria-hidden="true"> </i>
                    </button>
                </form>
            <a class="post-w3layouts-ad" routerLink="/post-ad.html">Post Free Ad</a>
            </div>	
            <div class="clearfix"></div>
        </div>
    </div>
</header>