<div class="w3layouts-breadcrumbs text-center">
  <div class="container">
    <nz-breadcrumb>
      <nz-breadcrumb-item *ngFor="let item of breadcrumb; let last = last;">
        <span *ngIf="last;else second" style="color:white">{{item.name}}</span>
        <ng-template #second>
          <ng-container *ngIf="item.iconClass != null;else third">
            <a routerLink="{{item.routeLink}}"><i class="{{item.iconClass}}"></i><span>{{item.name}}</span></a>
          </ng-container>
        </ng-template>
        <ng-template #third><a routerLink="{{item.routeLink}}"><span>{{item.name}}</span></a></ng-template>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
</div>