<!-- Navigation -->
<div class="agiletopbar">
  <div [class.show-menu] = "!isCollapsed" class="wthreenavigation">
    <div class="menu-wrap">
    <nav class="menu">
      <div class="icon-list">
        <a routerLink="can-ho-chung-cu"><i class="fa fa-fw fa-mobile"></i><span>Căn hộ / Chung cư</span></a>
        <a routerLink="nha-o"><i class="fa fa-fw fa-laptop"></i><span>Nhà ở</span></a>
        <a routerLink="dat"><i class="fa fa-fw fa-car"></i><span>Đất</span></a>
        <a routerLink="van-phong-mat-bang-kinh-doanh"><i class="fa fa-fw fa-motorcycle"></i><span>Văn phòng / Mặt bằng kinh doanh</span></a>
        <a href="furnitures.html"><i class="fa fa-fw fa-wheelchair"></i><span>Furnitures</span></a>
        <a href="pets.html"><i class="fa fa-fw fa-paw"></i><span>Pets</span></a>
        <a href="books-sports-hobbies.html"><i class="fa fa-fw fa-book"></i><span>Books, Sports & Hobbies</span></a>
        <a href="fashion.html"><i class="fa fa-fw fa-asterisk"></i><span>Fashion</span></a>
        <a href="kids.html"><i class="fa fa-fw fa-asterisk"></i><span>Kids</span></a>
        <a href="services.html"><i class="fa fa-fw fa-shield"></i><span>Services</span></a>
        <a href="jobs.html"><i class="fa fa-fw fa-at"></i><span>Jobs</span></a>
        <a href="real-estate.html"><i class="fa fa-fw fa-home"></i><span>Real Estate</span></a>
      </div>
    </nav>
    <button (click)= "toggleNav()" class="close-button" id="close-button">Close Menu</button>
  </div>
  <button (click)= "toggleNav()" class="menu-button" id="open-button"> </button>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //Navigation -->
<nz-layout>
  <!-- cookie consent component -->
  <appc-cookie-consent></appc-cookie-consent>
    <!-- header component -->
    <appc-header></appc-header>
  <nz-content>
    <!-- component routing placeholder -->
    <main >
      <div class="container">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    </main>
    <!-- <main [@routerTransition]="getState(o)">
      <router-outlet #o="outlet"></router-outlet>
    </main> -->
  </nz-content>
  
    <!-- footer component -->
    <appc-footer></appc-footer>
  
  <nz-back-top></nz-back-top>
</nz-layout>
<appc-simple-notifications [options]="notificationOptions"></appc-simple-notifications>
<div class="w3-categories">
  <h3>Danh mục tin</h3>
  <div class="focus-grid w3layouts-boder1">
    <a class="btn-8" href="categories.html">
      <div class="focus-border">
        <div class="focus-layout">
          <div class="focus-image"><i class="fa fa-mobile"></i></div>
          <h4 class="clrchg">Mobiles</h4>
        </div>
      </div>
    </a>
  </div>