<appc-breadcrumb [breadcrumb]="breadcrumb"></appc-breadcrumb>
<div class="container">
  <div class="ads-grid">
    <div nz-col nzXs="24" nzSm="24" nzMd="18" class="agileinfo-ads-display">
      <div class="view-controls-list">
        <label>Xem theo : </label>
        <a class="listview" [class.active]="listingViewMode==2" (click)="listingViewMode = 2"><i class="fa fa-th-list"></i></a>
        <a class="gridview" [class.active]="listingViewMode==1" (click)="listingViewMode = 1"><i class="fa fa-th"></i></a>
      </div>
      <div class="sort">
        <div class="sort-by">
          <label>Sắp xếp : </label>
          <select [(ngModel)]="sortOrder" (change)="onSortOrderChange($event)">
            <option value="0">Tin mới nhất</option>
            <option value="1">Giá tăng dần</option>
            <option value="2">Giá giảm dần</option>
          </select>
        </div>
      </div>
      <div class="clearfix"></div>
      <nz-skeleton *ngIf="isLoading"></nz-skeleton>
      <nz-skeleton *ngIf="isLoading"></nz-skeleton>
      <nz-skeleton *ngIf="isLoading"></nz-skeleton>
      <nz-skeleton *ngIf="isLoading"></nz-skeleton>
      <nz-skeleton *ngIf="isLoading"></nz-skeleton>

      <appc-listing-grid [listings]="allListingsModel?.listingsPageList" *ngIf="listingViewMode==1"></appc-listing-grid>
      <appc-listing-list [listings]="allListingsModel?.listingsPageList" *ngIf="listingViewMode==2"></appc-listing-list>
      <div class="clearfix"></div>
      <div *ngIf="allListingsModel != null && allListingsModel?.listingsPageList?.length == 0">
        <p>Không tìm thấy kết quả lọc hiện tại</p>
      </div>
      <nz-pagination *ngIf="allListingsModel != null && allListingsModel.listingsPageList?.length != 0" [nzPageIndex]="allListingsModel?.pagedListMetaData?.pageNumber"
        [nzTotal]="allListingsModel?.pagedListMetaData?.totalItemCount" [nzPageSize]="allListingsModel?.pagedListMetaData?.pageSize"
        nzShowSizeChanger [nzPageSizeOptions]="[10, 20, 30, 40]" (nzPageSizeChange)="nzPageSizeChange($event)"
        (nzPageIndexChange)="nzPageIndexChange($event)">
      </nz-pagination>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="6" class="side-bar">
      <form>
        <div class="range">
          <h3 class="agileits-sear-head">Khu vực</h3>
          <nz-select name="region" style="width: 100%;padding-bottom: 10px" [(ngModel)]="regionSlug" (ngModelChange)="regionChange($event)" nzShowSearch nzAllowClear nzPlaceHolder="Chọn tỉnh/thành phố">
              <nz-option *ngFor="let p of regions" [nzValue]="p.slug" [nzLabel]="p.name"></nz-option>
            </nz-select>
            <nz-select name="area" style="width: 100%;" [(ngModel)]="areaSlug" nzShowSearch nzAllowClear nzPlaceHolder="Chọn quận/huyện">
              <nz-option *ngFor="let c of areas" [nzValue]="c.slug" [nzLabel]="c.name" ></nz-option>
            </nz-select>
        </div>
        <div class="search-hotel">
          <h3 class="agileits-sear-head">Tìm kiếm</h3>
          <input name="search" type="text" placeholder="Tên sản phẩm..." required="" [(ngModel)]="searchText">
          <input type="submit" value="submit" (click)="doSearch()">

        </div>

        <div class="range">
          <h3 class="agileits-sear-head">Giá</h3>
          <p *ngIf="priceRange">{{priceRange[0] | currency:'VND':'symbol':'1.0-2'}} - {{priceRange[1]
            |currency:'VND':'symbol':'1.0-2'}}</p>
          <nz-slider name="range" [(ngModel)]="priceRange" nzRange [nzMax]="maxPrice" [nzTipFormatter]="formatter"></nz-slider>
        </div>
        <!-- <div class="w3-brand-select">
          <h3 class="agileits-sear-head">Brand name</h3>
          <nz-select name="brand" [nzMaxMultipleCount]="3" style="width: 100%" nzMode="multiple" nzPlaceHolder="Please select"
            [(ngModel)]="listOfSelectedValue">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </div> -->
      </form>
      <!-- <div class="w3ls-featured-ads">
        <h2 class="sear-head fer">Featured Ads</h2>
        <div class="w3l-featured-ad">
          <a href="single.html">
            <div class="w3-featured-ad-left">
              <img src="images/f1.jpg" title="ad image" alt="">
            </div>
            <div class="w3-featured-ad-right">
              <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
              <p>$ 450</p>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="w3l-featured-ad">
          <a href="single.html">
            <div class="w3-featured-ad-left">
              <img src="images/f2.jpg" title="ad image" alt="">
            </div>
            <div class="w3-featured-ad-right">
              <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
              <p>$ 380</p>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="w3l-featured-ad">
          <a href="single.html">
            <div class="w3-featured-ad-left">
              <img src="images/f3.jpg" title="ad image" alt="">
            </div>
            <div class="w3-featured-ad-right">
              <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
              <p>$ 560</p>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="clearfix"></div>
      </div> -->
    </div>
    <div class="clearfix"></div>

  </div>
</div>
<br />
<br />
<br />