<!-- <div class="row">
    <div class="column">
        <h2>Login</h2>

        <appc-dynamic-form (onSubmit)="login($event)" [controls]="controls" [btnText]="'Login'"></appc-dynamic-form>

        <p>
            Forget password? click
            <a routerLink="forgetpassword">here</a>
        </p>

        <appc-social-login></appc-social-login>
    </div>
</div> -->

<section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
        <div class="agileinfo_signin">
        <h3>Đăng nhập</h3>
            <form #f="ngForm" (ngSubmit)="login(loginModel)" novalidate>
                <input type="text" placeholder="Email hoặc tên đăng nhập" name="username" required="" [(ngModel)]="loginModel.username" > 
                <input type="password" name="Password" placeholder="Mật khẩu" name="password" required="" [(ngModel)]="loginModel.password"> 
                <input type="submit" value="Đăng nhập">
                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" name="rememberMe">Ghi nhớ</label>
                    <div class="forgot">
                        <a routerLink="forgetpassword">Quên mật khẩu?</a>
                    </div>
                    <div class="clearfix"> </div>
                </div></form>
            
            <h6> Chưa có tài khoản? <a routerLink="/dang-ky">Đăng ký ngay</a> </h6>
            <br/>
            <appc-social-login></appc-social-login>
        </div>
    </div>
</section>