<!-- <div class="row">
    <div class="column">
        <h2>Login</h2>

        <appc-dynamic-form (onSubmit)="login($event)" [controls]="controls" [btnText]="'Login'"></appc-dynamic-form>

        <p>
            Forget password? click
            <a routerLink="forgetpassword">here</a>
        </p>

        <appc-social-login></appc-social-login>
    </div>
</div> -->

<section>
    <div id="agileits-sign-in-page" class="sign-in-wrapper">
        <div class="agileinfo_signin">
        <h3>Sign In</h3>
            <form action="#" method="post">
                <input type="email" name="Your Email" placeholder="Your Email" required=""> 
                <input type="password" name="Password" placeholder="Password" required=""> 
                <input type="submit" value="Sign In">
                <div class="forgot-grid">
                    <label class="checkbox"><input type="checkbox" name="checkbox">Remember me</label>
                    <div class="forgot">
                        <a href="#" data-toggle="modal" data-target="#myModal2">Forgot Password?</a>
                    </div>
                    <div class="clearfix"> </div>
                </div></form>
            
            <h6> Not a Member Yet? <a href="signup.html">Sign Up Now</a> </h6>
            <br/>
            <appc-social-login></appc-social-login>
        </div>
    </div>
</section>